@model TicketManager.Web.ViewModels.Event.EventDetailsViewModel

<div>
    <h5 class="fw-bold mb-2">📜 Description:</h5>
    <p>@Model.Description</p>

    <p><strong>🕒 Created on:</strong> @Model.CreatedOn</p>
    <p><strong>👤 Author:</strong> @Model.Author</p>
    <p><strong>💵 Ticket price:</strong> @Model.TicketPrice лв.</p>
    <p><strong>🎫 Total tickets:</strong> @Model.TotalTickets</p>
</div>
